# Object files
*.o
*.elf
*.srec

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
*.exe
*.hex

# Backup files
*~
*.orig

# Linker output
*.map

# Build dependency files
.*.D
