[submodule "contrib/lua/lua"]
	path = contrib/lua/lua
	url = https://github.com/lua/lua.git
	ignore = dirty
[submodule "contrib/atto/atto"]
	path = contrib/atto/atto
	url = https://github.com/hughbarney/atto.git
[submodule "contrib/atto/incurses"]
	path = contrib/atto/incurses
	url = https://github.com/infinnovation-dev/incurses.git
[submodule "contrib/ubase/ubase"]
	path = contrib/ubase/ubase
	url = git://git.suckless.org/ubase
[submodule "contrib/sinit/sinit"]
	path = contrib/sinit/sinit
	url = git://git.suckless.org/sinit
	ignore = dirty
