# Object files & libraries
*.o
*.ko
*.a

# Executables
*.elf
*.uelf
*.test

# Backup and log files
*~
*.orig
*.log
*#

# Linker output
*.map

# Build dependency files
.*.D

# Python cache
*.pyc

# ctags & cscope files
cscope.out
tags
etags
*.taghl

# generated assembly files
genassym.h

# toolchain build artifacts
toolchain/
