version: 2

defaults: &defaults
  working_directory: ~/mimiker
  docker:
    - image: cahirwpz/mimiker-circleci:1.6.3

jobs:
  verify_formatting:
    <<: *defaults
    steps:
      - checkout
      - run: './verify-format.sh'

  verify_pep8:
    <<: *defaults
    steps:
      - checkout
      - run: './verify-pep8.sh'

  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - downloads-20181227-1920
      - run: 'make download'
      - save_cache:
          key: downloads-20181227-1920
          paths:
            - bin/lua/lua-5.3.5.tar.gz
            - lib/newlib/newlib-3.0.0.tar.gz
      - run: 'make'
      - store_artifacts:
          path: mimiker.elf
          prefix: kernel_image
      - save_cache:
          key: mimiker-{{ .Branch }}-{{ .Revision }}
          paths:
            - mimiker.elf
      - run: 'make clean'
      - run: 'make distclean'

  kernel_tests:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: mimiker-{{ .Branch }}-{{ .Revision }}
      - run: './run_tests.py --thorough --non-interactive'

workflows:
  version: 2
  build_and_test:
    jobs:
      - verify_formatting
      - verify_pep8
      - build
      - kernel_tests:
          requires:
            - build
