version: 2.1

defaults: &defaults
  working_directory: ~/mimiker
  docker:
    - image: cahirwpz/mimiker-circleci:1.7.2

jobs:
  verify_formatting:
    <<: *defaults
    steps:
      - checkout
      - run: './verify-format.sh'

  verify_pycodestyle:
    <<: *defaults
    steps:
      - checkout
      - run: './verify-pycodestyle.sh'

  build:
    <<: *defaults
    parameters:
      use_clang:
        description: 'Whether to use Clang as the compiler (1 = yes, 0 = no)'
        default: '0'
        type: string
      use_kasan:
        description: 'Whether to use the KernelAddressSanitizer (1 = yes, 0 = no)'
        default: '0'
        type: string
      board:
        description: 'Board emulated by qemu (malta, rpi3)'
        default: 'malta'
        type: string
    steps:
      - checkout
      - restore_cache:
          keys:
            - downloads-20191128-1600
      - run: 'make download'
      - save_cache:
          key: downloads-20191128-1600
          paths:
            - bin/lua/lua-5.3.5.tar.gz
      - run: 'make BOARD=<< parameters.board >> CLANG=<< parameters.use_clang >> KASAN=<< parameters.use_kasan >>'
      - store_artifacts:
          path: sys/mimiker.elf
          prefix: kernel_image
      - store_artifacts:
          path: initrd.cpio
          prefix: initial_ramdisk
      - persist_to_workspace:
          root: ./
          paths:
            - sys/mimiker.elf
            - initrd.cpio
      - run: 'make clean'
      - run: 'make distclean'

  kernel_tests:
    <<: *defaults
    parameters:
      board:
        description: 'Board emulated by qemu (malta, rpi3)'
        default: 'malta'
        type: string
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run: './run_tests.py --board << parameters.board >> --thorough --non-interactive'

workflows:
  version: 2.1
  build_and_test:
    jobs:
      - verify_formatting
      - verify_pycodestyle
      - build:
          name: build_mips_gcc
          use_kasan: '1'
          board: 'malta'
      - build:
          name: build_mips_clang
          use_clang: '1'
          board: 'malta'
      - build:
          name: build_arm64_gcc
          board: 'rpi3'
      - build:
          name: build_arm64_clang
          use_clang: '1'
          board: 'rpi3'
      - kernel_tests:
          name: kernel_tests_mips_gcc
          board: 'malta'
          requires:
            - build_mips_gcc
      - kernel_tests:
          name: kernel_tests_mips_clang
          board: 'malta'
          requires:
            - build_mips_clang
