Source: grub-mimiker
Section: unknown
Priority: optional
Maintainer: Krystian Bacławski <cahirwpz@cs.uni.wroc.pl>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://mimiker.ii.uni.wroc.pl

Package: grub-mimiker
Architecture: amd64
Depends: ${shlibs:Depends} ${misc:Depends}
Description: Multiboot2 boot loader for Mimiker OS
 This package contains GRUB boot loader for Mimiker OS.
