/dts-v1/;

/ {
	#address-cells = <0x01>;
	#size-cells = <0x01>;

	memory@0 {
		reg = <0x00 0x3c000000>;
		device_type = "memory";
	};

	soc {
		#address-cells = <0x01>;
		#size-cells = <0x01>;

		uart0@7e201000 {
			compatible = "uart,pl011";
			reg = <0x3f201000 0x90>;
		};
	};
};
