name: Mimiker

on: [push]

jobs:
  verify_formatting:
    name: verify formatting
    runs-on: self-hosted
    container: cahirwpz/mimiker-circleci:1.7.3
    steps:
      - uses: actions/checkout@v2
      - run: ./verify-format.sh

  verify_pycodestyle:
    name: verify pycodestyle
    runs-on: self-hosted
    container: cahirwpz/mimiker-circleci:1.7.3
    steps:
      - uses: actions/checkout@v2
      - run: ./verify-pycodestyle.sh

  build_mips_gcc:
    name: build mips gcc
    runs-on: self-hosted
    container: cahirwpz/mimiker-circleci:1.7.3
    steps:
      - uses: actions/checkout@v2
      - run: make -j $(nproc) KASAN=1
      - uses: actions/upload-artifact@v2
        with:
          name: mips gcc kernel+ramdisk
          path: |
            sys/mimiker.elf
            sys/mimiker.elf.map
            initrd.cpio

  build_mips_clang:
    name: build mips clang
    runs-on: self-hosted
    container: cahirwpz/mimiker-circleci:1.7.3
    steps:
      - uses: actions/checkout@v2
      - run: make -j $(nproc) CLANG=1
      - uses: actions/upload-artifact@v2
        with:
          name: mips clang kernel+ramdisk
          path: |
            sys/mimiker.elf
            sys/mimiker.elf.map
            initrd.cpio
